@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);
body {
  padding-top: 50px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  background-color: white;
  font-family: "Lato";
}
h3,
h5 {
  color: #56378c;
  margin-bottom: 1em;
}
p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
p.signoff {
  margin-top: 2em;
  font-weight: 600;
}
a:hover {
  color: #56378c;
}
.centered {
  text-align: center;
}
#logo {
  padding: 40px 0 50px;
}
#logo img {
  max-width: 600px;
  width: 100%;
}
#leader {
  background-color: #eee;
  background-image: linear-gradient(#dbdbdb 0px, #eeeeee 100%);
  background-repeat: repeat-x;
  padding: 0.5em 0 3em;
}
#leader h3 {
  line-height: 1.3em;
}
div.nav {
  margin-top: 1em;
}
.navbar-default .logo img {
  margin-left: 12px;
  margin-top: 6px;
}
.navbar-default .navbar-nav > li > a {
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #56378c;
}
.nav-pills > li {
  margin-bottom: 4px;
}
.nav-pills > li > a {
  font-weight: bold;
  color: #56378c;
  background-color: #dbd7ff;
}
.nav-pills > li > a:hover {
  color: white;
  background-color: #56378c;
}
section.client,
#about {
  padding-top: 70px;
  margin-top: -50px;
  padding-bottom: 3em;
}
section.client h3,
#about h3 {
  color: #56378c;
}
#strapline,
.strands {
  color: white;
  font-family: "Raleway";
  background: url('../images/bg-purple.jpg') no-repeat center top;
  background-position: center center;
  padding-bottom: 1em;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#strapline h2,
.strands h2 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.5em;
}
#strapline h4,
.strands h4 {
  font-weight: 400;
  line-height: 1.5em;
}
#strapline i,
.strands i {
  font-size: 2em;
}
.strands {
  padding-top: 1.5em;
}
.strands .col-lg-4 {
  padding: 0 2em;
}
.contact {
  margin: 3em 0;
}
.contact i {
  min-width: 2em;
}
.contact ul {
  font-size: 1.2em;
  padding-left: 1em;
  list-style-type: none;
}
.contact ul a {
  text-decoration: none;
}
.contact ul li {
  margin-bottom: 0.5em;
}
footer {
  background: #bdbdbd;
  background-image: linear-gradient(#eeeeee 0px, #f5f5f5 100%);
  background-repeat: repeat-x;
  padding-top: 1em;
}
footer i {
  margin: 1em 0.5em 0.5em;
  font-size: 2em;
  color: #777;
}
footer i:hover {
  color: #56378c;
}
.widgets {
  vertical-align: top;
}
.twitter-timeline {
  max-width: 300px;
  margin-top: 1em;
}
